<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetBankCustomerController</servlet-name>
  	<display-name>GetBankCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.jancy.web.GetBankCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBankCustomerController</servlet-name>
  	<display-name>AddBankCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.jancy.web.AddBankCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBankCustomerController</servlet-name>
  	<display-name>UpdateBankCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.jancy.web.UpdateBankCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBankCustomerController</servlet-name>
  	<display-name>DeleteBankCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.jancy.web.DeleteBankCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBankAccountController</servlet-name>
  	<display-name>AddBankAccountController</display-name>
  	<description></description>
  	<servlet-class>com.jancy.web.AddBankAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetBankCustomerController</servlet-name>
  	<url-pattern>/getCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBankCustomerController</servlet-name>
  	<url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBankCustomerController</servlet-name>
  	<url-pattern>/viewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBankCustomerController</servlet-name>
  	<url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBankAccountController</servlet-name>
  	<url-pattern>/addAccount</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
